.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 60vh;
    position: relative;
}
.form-container {
    padding: 90px 70px;
    box-shadow: -1px 4px 52px -5px rgba(0,0,0,0.7);
}

h3 {
    text-align: center;
    color: #fff;
}

.section-form {
    display: flex;
    flex-direction: column;
}

.section-form label {
    padding: 5px 0;
    font-size: 15px;
    color: #fff;
}

.section-form input {
    width: 267px;
    height: 30px;
    border-radius: 10px;
    border-color: #2d5986;
    outline: none;
    padding: 0 10px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    font-family: 'Titillium Web', sans-serif;
}

.btn-save {
    border: 2px solid #006600;
    border-radius: 10px;
    width: 100px;
    padding: 6px 0;
    background-color: transparent;
    font-size: 15px;
    color: #fff;
}

.btn-quit {
    border: 2px solid #cc0000;
    width: 100px;
    padding: 6px 0;
    border-radius: 10px;
    background-color: transparent;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    color: #fff;
}

.btn-save:hover {
    background-color: #006600;
    color: #fff;
    font-weight: 600;
}

.btn-quit:hover {
    background-color: #cc0000;
    color: #fff;
    font-weight: 600;
}


.category-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px auto;
    max-width: 1440px;
    position: relative;
}

.category-list-form {
    padding: 50px 70px;
    box-shadow: -1px 4px 52px -5px rgba(0,0,0,0.7);
    width: 800px;
    position: relative;
}

.category-list-form ul {
    list-style: none;
    padding: 15px 0;
}

.category-list-form ul li {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(230,77,0,1);
    background-color:#4d4d4d;
    margin: 15px 0;
    color: #fff;
}

.category-list-form a {
    color: #fff;
    text-decoration: none;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
}

.list-buttons *{
    margin: 0 15px;
}

.list-buttons a {
    background-color: #1a1a1a;
    padding: 3px 16px;
    border-radius: 20px;
    outline: none;
}

.details {
    border: 2px solid #99e6ff;
}

.makeup {
    border: 2px solid #4d9900;
}

.delete {
    background-color: #1a1a1a;
    outline: none;
    padding: 7px 16px;
    border-radius: 20px;
    border: 2px solid #cc0000;
    color: white;
    font-size: 16px;
}

.category-list-form ul li span {
    margin: 0 15px;
    text-transform: capitalize;
}

.new-category-btn {
  padding: 9px 20px;
  color: #fff;
  border: 2px solid  #e6e600;
  border-radius: 24px;
  outline: none;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  font-size: 17px;
}

.new-category-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 19px;
  background: #e6e600;
  transform: scaleY(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.new-category-btn:hover,
.new-category-btn:focus,
.new-category-btn:active {
  color: #000;
}
.new-category-btn:hover:before,
.new-category-btn:focus:before,
.new-category-btn:active:before {
  transform: scaleY(1);
}
