.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 60vh;
    position: relative;
}
.form-container {
    padding: 90px 70px;
    box-shadow: -1px 4px 52px -5px rgba(0,0,0,0.7);
}

h3 {
    text-align: center;
    color: #fff;
}

.section-form {
    display: flex;
    flex-direction: column;
}

.section-form label {
    padding: 5px 11px;
    font-size: 15px;
    color: #fff;
}

.section-form input {
    width: 267px;
    height: 30px;
    border-radius: 10px;
    border-color: #2d5986;
    outline: none;
    padding: 0 10px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    font-family: 'Titillium Web', sans-serif;
}

.btn-save {
    border: 2px solid #006600;
    border-radius: 10px;
    width: 100px;
    padding: 6px 0;
    background-color: transparent;
    font-size: 15px;
    color: #fff;
}

.btn-quit {
    border: 2px solid #cc0000;
    width: 100px;
    padding: 6px 0;
    border-radius: 10px;
    background-color: transparent;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    color: #fff;
}

.btn-save:hover {
    background-color: #006600;
    color: #fff;
    font-weight: 600;
}

.btn-quit:hover {
    background-color: #cc0000;
    color: #fff;
    font-weight: 600;
}


.category-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px auto;
    max-width: 1440px;
    position: relative;
}

.category-list-form {
    padding: 50px 70px;
    box-shadow: -1px 4px 52px -5px rgba(0,0,0,0.7);
    max-width: 1200px;
    position: relative;
    margin: 50px auto;
    width: 100%;
}

.category-list-form ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 50px;
    width: 100%;
}

.category-list-form ul li {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffcc00;
    background-color:#4d4d4d;
    margin: 15px 0;
    color: #fff;
}

.category-list-form a {
    color: #fff;
    text-decoration: none;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
}

.list-buttons *{
    margin: 0 15px;
}

.list-buttons a {
    background-color: #1a1a1a;
    padding: 3px 16px;
    border-radius: 20px;
    outline: none;
}

.details {
    border: 2px solid #99e6ff;
}

.makeup {
    border: 2px solid #4d9900;
}

.delete {
    background-color: #1a1a1a;
    outline: none;
    padding: 7px 16px;
    border-radius: 20px;
    border: 2px solid #cc0000;
    color: white;
    font-size: 16px;
}

.category-list-form ul li span {
    margin: 0 15px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.new-category-btn {
  padding: 13px 20px;
  color: #fff;
  border: 2px solid  #ffcc00;
  border-radius: 45%;
  outline: none;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  font-size: 17px;
}

.new-category-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 19px;
  background: #ffcc00;
  transform: scaleY(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.new-category-btn:hover,
.new-category-btn:focus,
.new-category-btn:active {
  color: #000;
}
.new-category-btn:hover:before,
.new-category-btn:focus:before,
.new-category-btn:active:before {
  transform: scaleY(1);
}

.onhover {
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

.onhover:before  {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 13px;
  transform: scaleY(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}


.onhover:hover:before,
.onhover:focus:before,
.onhover:active:before {
  transform: scaleY(1);
}

.details::before {
  background-color: #99e6ff;
}

.details:hover {
    background-color: transparent;
    color: #000;
}

.makeup::before {
  background-color: #4d9900;
}

.makeup:hover {
    background-color: transparent;
    color: #000;
}

.delete::before {
  background-color: #cc0000;
}

.delete:hover {
    background-color: transparent;
    color: #000;
}

.addImg {
    background-color: transparent !important;
    padding: 0 !important;
    position: relative;
}

.addImg i {
    font-size: 25px;
}

.addImg span {
    visibility: hidden;
    position: absolute;
    top: -40px;
    right: -100px;
    background-color: #fff;
    padding: 5px 10px;
    color: #000;
}

.show-msg {
    visibility: visible !important;
    opacity: 1 !important;
    transition: all 0.5s;
}

.new-category-btn span {
    position: absolute;
    top: -13px;
    right: -165px;
    background-color: #fff;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    color: #000;
    opacity: 0;
    visibility: hidden;
    width: 140px;
    text-align: center;
}

.form-sect {
  display: flex;
  justify-content: center;
}

.btn-back {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 1px solid red;
    border-radius: 9px;
    padding: 3px 27px;
}

.btn-back:hover {
  background-color: red;
  font-weight: bold;
}

.image-buttons *{
  margin: 30px 10px;
}

.image-buttons {
  display: flex;
  justify-content: center;
}

.choose-file {
  position: relative;
}

.choose-file button {
  margin:0;
  position: absolute;
  top: 0;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 100px;
  right: 0;
  border:none;
  outline: none;
  height: 100%;
}

.choose-file span {
  padding: 0px 10px;
}

.choose-file div {
  height: 35px;
  display: flex;
  border-radius: 24px;
  align-items: center;
  min-width: 300px;
  width: 100%;
  background-color: #fff;
}

.choose-file input{
    opacity: 0;
    position: absolute;
    height: 100%;
}

 .list-title h3 {
    margin: 0;
    text-align: left;
 }

 .list-title div {
   position: relative;
 }

 .list-title {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
 }

.span-count {
   position: absolute !important;
   top: -15px;
   right: -33px;
   color: #000;
   border-radius: 50%;
   border: 1px solid #ffcc00;
   min-width: 25px;
   min-height: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #ffcc00;
}

.span-count span {
  padding: 2px;
}

.detail-btns {
  display: flex;
  justify-content: space-around;
}

.detail-btns button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: #fff;
}

.detail-btns button:hover {
  font-size: 31px;
  transition: all 0.3s;
}

.image-list-cont {
  display: flex;
  margin-top: 60px;
}

.img-cont img:first-of-type {
  width: 400px;
  height: 400px;
}

.pro-subcat {
  width: 100%;
  margin: 0 40px;
}

.img-cont {
  max-width: 400px;
}

.img-cont img {
  width: 80px;
  height: 80px;
  margin: 5px 8px;
}

.products a,
.sub-categories a {
  padding: 3px 16px;
  border-radius: 24px;
  background-color: #000;
}





