.show-error {
    position: absolute;
    right: 10px;
    top: 0px;
}

.show-error ul {
    padding: 0px;
}

.show-error li {
    font-size: 22px;
    list-style: none;
    border: 2px solid #cc0000;
    background-color: #cc0000;
    color: #fff;
    padding: 10px 50px;
    padding: 10px 0px;
    width: 420px;
    text-align: center;
    margin-bottom: 2px;
    position: relative;
}

.show-error i {
    color: #fff;
    padding: 0 25px;
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translate(0%,50%);
}
